body {
  font-family: Arial, sans-serif;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; /* CENTER */
}


/* COLUMN */
.column {
  background: #f4f6f8;
  border-radius: 8px;
  padding-bottom: 12px;
  min-height: 400px;
}


/* HEADER */
.column-header {
  color: white;
  padding: 10px;
  font-weight: bold;
}

/* COLORS */
.column-todo .column-header {
  background: #1e88e5;
}
.column-progress .column-header {
  background: #fb8c00;
}
.column-done .column-header {
  background: #00a86b;
}

/* COUNT */
.count {
  background: rgba(255, 255, 255, 0.3);
  padding: 2px 8px;
  border-radius: 10px;
  margin-left: 8px;
  font-size: 12px;
}

/* ADD CARD */
.add-card {
  width: calc(100% - 20px);
  margin: 10px;
  padding: 6px;
  border: 1px dashed #aaa;
  background: white;
  cursor: pointer;
}

/* CARD */
.card {
  background: white;
  margin: 10px;
  padding: 8px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  border-left: 4px solid #ccc;
}

.column-todo .card {
  border-left-color: #1e88e5;
}
.column-progress .card {
  border-left-color: #fb8c00;
}
.column-done .card {
  border-left-color: #00a86b;
}

.card button {
  background: none;
  border: none;
  cursor: pointer;
}
